header {
  background-color: #ffffff;
  padding: 10px;
  padding-top: 10px;
padding-right: 5px;
padding-bottom: 15px;
padding-left: 5px;
  margin: 10px;
  box-shadow: 2px 2px 1px #efefef;
  position:relative;
  width: 100%
}
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #002c3e;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #78bcc4;
  text-decoration: none; /* No underlining */
}

img {
  width: 100%;
}

a:visited { /* visited link */
  color: #f7444e;
}
a:hover {
  color: #002c3e;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #f7444e;
}

a:hover,
a:focus {
  color: #002c3e;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #efefef;
  color: #f7444e; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #c0c0c0; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button :active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #f7444e;
  text-transform: uppercase;
  border: 2px solid #f7444e;
}
.button.contact:hover {
  background-color: #f7444e;
  color: #002c3e;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.center {
  text-align: center;
}
header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
color: #f7444e
}
nav > ul > li > a:hover {
color: #002c3e
}
nav > ul > li > a:active {
color: #f7444e
}
#hero {
  background-color: #ffffff;
}
